
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Hello from Index</h2>

@RenderPage("~/Views/Home/Index2.cshtml", "nikhil", "nikhilshuklaiarmy@gmail.com", "9451111336",123);


@RenderPage("~/Views/Home/Index2.cshtml")


